
body {
 
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
     
  display: grid;
  grid-template-areas: 
 "header header header"
  "nav article sidebar"
  "footer footer footer";
  grid-template-rows: 80px 1fr 60px;
  grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 10px;
  height: 100vh;
  margin: 0;
}
@media all and (max-width: 575px) {
  body { 
    grid-template-areas: 
      "header"
      "article"
      "sidebar"
      "nav"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;  
    grid-template-columns: 1fr;
 }
}
header, footer, article, nav, div {
  padding: 1.2em;
  background: lightblue;
}
  #pageHeader {
    grid-area: header;
  }
  #pageFooter {
    grid-area: footer;
  }
  #mainArticle { 
    grid-area: article;      
    }
  #mainNav { 
    grid-area: nav; 
    }
  #sidebar { 
    grid-area: sidebar; 
    }
    
    
    